@model LayoutInfo
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description">
                    Create Category
                </p>
                <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="File">LinkedIn</label>
                        <input class="form-control" asp-for="File" id="exampleInputUsername1" placeholder="Name" accept="image/*">
                        <span asp-validation-for="File"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LinkedId">LinkedIn</label>
                        <input class="form-control" asp-for="LinkedId" id="exampleInputUsername1" placeholder="Name">
                        <span asp-validation-for="LinkedId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Facebook">Description</label>
                        <input class="form-control" asp-for="Facebook" id="exampleInputUsername1" placeholder="Description">
                        <span asp-validation-for="Facebook"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light" asp-controller="Layout" asp-action="index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>



